{
  "root": true,
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["*.js"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.tsx", "**/*.story.tsx"] }],
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "max-len": [2, { "code": 120 }],
    "linebreak-style": 0
  }
}
